include dash_distribution_indicator/dash_distribution_indicator.min.js
include dash_distribution_indicator/dash_distribution_indicator.min.js.map
include dash_distribution_indicator/async-*.js
include dash_distribution_indicator/async-*.js.map
include dash_distribution_indicator/*-shared.js
include dash_distribution_indicator/*-shared.js.map
include dash_distribution_indicator/metadata.json
include dash_distribution_indicator/package-info.json
include README.md
include LICENSE
include package.json
